img {
  width: 100%;
  height: auto;
  display: block;
}

/***** ting der gælder for alle sider *****/
footer {
  text-align: center;
  color: #583a13;
  font-family: poppins;
}

hr {
  color: #df8a09;
}

h1 {
  color: #583a13;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 5rem;
  text-align: center;
}

h2 {
  color: #583a13;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 3rem;
  text-align: center;
  padding-top: 5%;
}

@media (max-width: 768px) {
  h1 {
    color: #583a13;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 2rem;
    text-align: center;
  }
}

h3 {
  color: #000000;
  font-family: "DM Sans", sans-serif;
  font-size: 1.5rem;
}

@media (max-width: 768px) {
  p {
    color: #583a13;
    font-family: "DM Sans", sans-serif;
    font-size: 1rem;
  }
}
p {
  color: #583a13;
  font-family: "DM Sans", sans-serif;
  font-size: 1.2rem;
}
/***** FORISDE *****/

@media (max-width: 768px) {
  .text_under_overskrift_forside {
    color: #583a13;
    font-family: "DM Sans", sans-serif;
    font-size: 1.2rem;
    text-align: center;
    width: 65ch;
    margin-left: 20%;
  }

  .grid_knapper_forside {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 10%;
  }

  .boks_portfolio {
    margin-left: 50%;
    padding-bottom: 10%;
  }

  .boks_cv {
    margin-left: 20%;
    padding-bottom: 10%;
  }

  /***** portfolio *****/
  .text_under_overskrift_portfolio {
    color: #583a13;
    font-family: "DM Sans", sans-serif;
    font-size: 1.2rem;
    text-align: center;
    width: 65ch;
    margin-left: 25%;
  }

  h2 {
    color: #583a13;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    text-align: center;
    padding-top: 5%;
  }
  /***** cv *****/

  .grid_cv_img_text {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .img_cv {
    display: inline-block; /* Gør containeren til en inline-block, så den omslutter billedet */
    background-color: #f29c1b; /* Baggrundsfarve for rammen */
    padding: 30px; /* Indvendig afstand, som fungerer som ramme */
    width: 300px; /* Juster bredden for at ændre størrelsen på containeren */
    height: auto;
    margin-left: 35%;
  }

  .img_cv img {
    display: block;
    max-width: 100%; /* Sikrer at billedet tilpasser sig containerens bredde */
    height: auto; /* Bevarer billedets proportioner */
  }

  .text_img {
    color: #583a13;
    font-family: "DM Sans", sans-serif;
    font-size: 1.2rem;
  }

  .underoverskrift_cv {
    margin-right: 50%;
  }

  .cv_overskrift {
    color: #583a13;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 3rem;
    text-align: center;
    padding-bottom: 2%;
    padding-right: 5%;
  }

  .grid_cv1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 15%;
  }

  .grid_cv2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 15%;
    padding-bottom: 5%;
  }

  /***** web *****/
  .text_under_overskrift_web {
    color: #583a13;
    font-family: "DM Sans", sans-serif;
    font-size: 1.2rem;
    text-align: center;
    width: 65ch;
    margin-left: 25%;
  }

  .text_under_overskrift_ux {
    color: #583a13;
    font-family: "DM Sans", sans-serif;
    font-size: 1.2rem;
    text-align: center;
    width: 65ch;
    margin-left: 25%;
  }

  .text_under_overskrift_animation {
    color: #583a13;
    font-family: "DM Sans", sans-serif;
    font-size: 1.2rem;
    text-align: center;
    width: 65ch;
    margin-left: 25%;
  }

  .text_under_overskrift_indhold {
    color: #583a13;
    font-family: "DM Sans", sans-serif;
    font-size: 1.2rem;
    text-align: center;
    width: 65ch;
    margin-left: 25%;
  }

  .pedro_img {
    width: 400px;
    height: auto;
    padding-left: 35%;
  }

  .designprincipper_img {
    width: 400px;
    height: auto;
  }

  .grid_web_first {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    padding: 5%;
  }

  .text_web2 {
    margin-top: 18%;
  }

  .grid_web_second {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    padding: 5%;
  }

  .grid_web_third {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    padding: 5%;
  }

  /***** UX/UI *****/
  .grid_ux_first {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    padding: 5%;
  }

  .wireframe_ux {
    width: 900px;
    padding-left: 16%;
  }

  .text_wireframe_ux {
    text-align: center;
    width: 65ch;
    padding-left: 25%;
  }

  .grid_ux_second {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5%;
  }
  .ux_mobil_version {
    width: 400px;
    padding-left: 25%;
  }

  .ux_desktop_version {
    width: 400px;
  }

  .text_skitser {
    text-align: center;
    width: 65ch;
    padding-left: 35%;
  }

  .skitse1 {
    width: 600px;
    padding-left: 30%;
  }

  .skitse2 {
    width: 600px;
    padding-left: 30%;
  }

  .grid_animation_first {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    padding: 5%;
  }

  .grid_animation_second {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    padding: 5%;
  }

  .text_animation1 {
    padding-top: 9%;
  }

  .text_animation2 {
    padding-top: 2%;
  }

  .grid_indhold_first {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    padding: 5%;
  }

  .text_indhold1 {
    padding-top: 9%;
  }

  .grid_indhold_first {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    padding: 5%;
  }

  .grid_indhold_second {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    padding: 5%;
  }
}

/***** STYLE CSS *****/

/***** knapper forside *****/
.knap_portfolio {
  background-color: #f29c1b;
  color: #583a13;
  font-family: poppins;
  font-weight: 400;
  font-size: 2rem;
  border: none;
  padding: 10px 30px;
  transition-duration: 0.4s;
  text-decoration: none;
}

.knap_portfolio:hover {
  color: #bce0cd;
}

.knap_cv {
  background-color: #f29c1b;
  color: #583a13;
  font-family: poppins;
  font-weight: 400;
  font-size: 2rem;
  border: none;
  padding: 10px 30px;
  transition-duration: 0.4s;
  text-decoration: none;
}

.knap_cv:hover {
  color: #bce0cd;
}

.text_portfolioknap {
  color: #583a13;
  font-family: "DM Sans", sans-serif;
  font-size: 1.2rem;
}

.text_cvknap {
  color: #583a13;
  font-family: "DM Sans", sans-serif;
  font-size: 1.2rem;
}

/***** knapper portfolio *****/
.knap_grund_web {
  background-color: #f29c1b;
  color: #583a13;
  font-family: poppins;
  font-weight: 400;
  font-size: 2rem;
  border: none;
  padding: 20px 50px;
  transition-duration: 0.4s;
  text-decoration: none;
}

.knap_grund_web:hover {
  color: #bce0cd;
}

@media (max-width: 768px) {
  .knap_grund_web {
    font-size: 1.4rem; /* Juster fontstørrelsen */
    padding: 6px 39px;
    width: 100%; /* Gør knappen fuldbredde */
    box-sizing: border-box;
  }
}

.knap_grund_ux {
  background-color: #f29c1b;
  color: #583a13;
  font-family: poppins;
  font-weight: 400;
  font-size: 2rem;
  border: none;
  padding: 20px 35px;
  transition-duration: 0.4s;
  text-decoration: none;
}

.knap_grund_ux:hover {
  color: #bce0cd;
}

@media (max-width: 768px) {
  .knap_grund_ux {
    font-size: 1.4rem; /* Juster fontstørrelsen */
    padding: 6px 28px;
    width: 100%; /* Gør knappen fuldbredde */
    box-sizing: border-box;
  }
}

.knap_grund_animation {
  background-color: #f29c1b;
  color: #583a13;
  font-family: poppins;
  font-weight: 400;
  font-size: 2rem;
  border: none;
  padding: 20px 15px;
  transition-duration: 0.4s;
  text-decoration: none;
}

.knap_grund_animation:hover {
  color: #bce0cd;
}
@media (max-width: 768px) {
  .knap_grund_animation {
    font-size: 1.4rem; /* Juster fontstørrelsen */
    padding: 6px 15px; /* Juster padding */
    width: 70%; /* Gør knappen fuldbredde */
    box-sizing: border-box;
  }
}

.knap_grund_indhold {
  background-color: #f29c1b;
  color: #583a13;
  font-family: poppins;
  font-weight: 400;
  font-size: 2rem;
  border: none;
  padding: 20px 30px;
  transition-duration: 0.4s;
  text-decoration: none;
}

.knap_grund_indhold:hover {
  color: #bce0cd;
}
@media (max-width: 768px) {
  .knap_grund_indhold {
    font-size: 1.4rem; /* Juster fontstørrelsen */
    padding: 6px 28px;
    width: 100%; /* Gør knappen fuldbredde */
    box-sizing: border-box;
  }
}

.knapper_portfolio {
  margin-left: 37%;
  padding-bottom: 10%;
}

.text_portfolioknap {
  color: #583a13;
  font-family: "DM Sans", sans-serif;
  font-size: 1.2rem;
}

/**** tilbage-knap *****/

.back-button {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: #583a13; /* Farve på linket */
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  transition: color 0.3s;
  padding: 10px 20px;
}

.back-button .arrow {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-top: 2px solid #333;
  border-left: 2px solid #333;
  transform: rotate(-45deg);
  margin-right: 6px; /* Afstand mellem pilen og teksten */
}

.back-button:hover {
  color: #f29c1b; /* Farve når man hover over linket */
}

.back-button:hover .arrow {
  border-color: #f29c1b; /* Ændrer farven på pilen ved hover */
}

/***** knap web *****/

.knap_site_web {
  background-color: #f29c1b;
  color: #583a13;
  font-family: poppins;
  font-weight: 400;
  font-size: 1.5rem;
  border: none;
  padding: 10px 30px;
  transition-duration: 0.4s;
  text-decoration: none;
}

.knap_site_web:hover {
  color: #bce0cd;
}

/***** knap ux *****/
.knap_research_ide {
  background-color: #f29c1b;
  color: #583a13;
  font-family: poppins;
  font-weight: 400;
  font-size: 1.5rem;
  border: none;
  padding: 10px 30px;
  transition-duration: 0.4s;
  text-decoration: none;
}

.knap_research_ide:hover {
  color: #bce0cd;
}

.knap_research_ide_style {
  padding-top: 10%;
}

.knap_uxui_site {
  background-color: #f29c1b;
  color: #583a13;
  font-family: poppins;
  font-weight: 400;
  font-size: 1.5rem;
  border: none;
  padding: 10px 30px;
  transition-duration: 0.4s;
  text-decoration: none;
}

.knap_uxui_site:hover {
  color: #bce0cd;
}

.knap_uxui_site_style {
  padding-top: 5%;
}
/***** knap animation *****/

.knap_elementer_spil {
  background-color: #f29c1b;
  color: #583a13;
  font-family: poppins;
  font-weight: 400;
  font-size: 1.5rem;
  border: none;
  padding: 10px 30px;
  transition-duration: 0.4s;
  text-decoration: none;
}

.knap_elementer_spil:hover {
  color: #bce0cd;
}

/***** knap indhold *****/
.knap_passion {
  background-color: #f29c1b;
  color: #583a13;
  font-family: poppins;
  font-weight: 400;
  font-size: 1.5rem;
  border: none;
  padding: 10px 30px;
  transition-duration: 0.4s;
  text-decoration: none;
}

.knap_passion:hover {
  color: #bce0cd;
}

.knap_passions_style {
  padding-top: 3%;
}

.knap_virksomhedssite {
  background-color: #f29c1b;
  color: #583a13;
  font-family: poppins;
  font-weight: 400;
  font-size: 1.5rem;
  border: none;
  padding: 10px 30px;
  transition-duration: 0.4s;
  text-decoration: none;
}

.knap_virksomhedssite:hover {
  color: #bce0cd;
}

.knap_virksomhedssite_style {
  padding-top: 5%;
}
